@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
    --bg-primary-: #2C3947;
    --bg-primaryHover: #2b3541;
    --bg-textarea: #2C3947;
    --border-Blue: #4BB8FA;
}

/* TODO */
body {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}


.header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-primary-);
    padding: 12px 12px;
}

.header .layoutHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header .layoutHeader .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.header .layoutHeader .left .menu {
    width: 2.5rem;
    cursor: pointer;
}

.header .layoutHeader .left h1 {
    color: white;
}


.header .layoutHeader .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.header .layoutHeader .right button {
    background: transparent;
    border: none;
}

.header .layoutHeader .right button .dropDown {
    display: none;
}

.header .layoutHeader .right button .dropDown.block {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #131229;
    opacity: 0.9;
    color: white;
    list-style: none;
    padding: 12px;
    border-radius: 10px;
    top: 40px;
    right: 20px;
    line-height: 2rem;
    text-align: start;
    z-index: 10;
}

.header .layoutHeader .right button .more {
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 3rem;
    background-color: transparent;
    transition: 0.3s ease;
    border-radius: 10px;
}

.header .layoutHeader .right .more:hover {
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 3rem;
    background-color: var(--bg-primaryHover);
    border-radius: 10px;
}


.header main {
    position: relative;
    padding: 12px 12px;
}

.header main .tastArea {
    padding: 10px 20px;
    background-color: var(--bg-textarea);
    border-radius: 5px;
    width: 100%;
    color: white;
    border: 1px solid gray;
    resize: none;
}


.header main .task form button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 22px;
    left: 14px;
}

.header main .tastArea:focus {
    border: 1px solid var(--border-Blue);
    outline: none;
}

.header main .taskContent {
    margin-top: 12px;
}

.header main .taskContent .taskOne {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}


.header main .taskContent .taskOne .contenTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
}

.header main .taskContent .taskOne .contenTask p {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.header main .taskContent .taskOne .contenTask p.coretan {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: line-through;
}


.header main .taskContent .taskOne .delete {
    color: white;
    background-color: salmon;
    padding: 12px 12px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.header main .task form .deleteAll {
    color: white;
    width: 99%;
    background-color: salmon;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 2.6rem;
    cursor: pointer;
}

.header main .task form .calender {
    position: absolute;
    top: 20px;
    right: 20px;
}

.header main .task form .calender .input_date {
    background-color: var(--bg-primary-);
    border: none;
    color: white;
}

.header main .task form .selectStyle {
    color: white;
    width: 100%;
    background-color: skyblue;
    padding: 7px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 3rem;
    cursor: pointer;
}


@media(max-width:660px) {
    .header {
        position: relative;
        min-height: 100vh;
        width: 100%;
        background-color: var(--bg-primary-);
        padding: 12px 12px;
    }

    .header main {
        position: relative;
        padding: 12px 12px;
    }

    .header main .tastArea {
        padding: 10px 20px;
        background-color: var(--bg-textarea);
        border-radius: 5px;
        color: white;
        border: 1px solid gray;
        resize: none;
    }

    .header main .task form .calender {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .header main .task form .calender .input_date {
        background-color: var(--bg-primary-);
        border: none;
        color: white;
    }

    .header main .task form .calender .input_date::-webkit-calendar-picker-indicator {
        background-color: white;
        cursor: pointer;
        padding: 5px;
        border-radius: 10px;
    }

    .header main .taskContent .taskOne .contenTask {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.6rem;
        padding: 12px 12px;
    }


    .header main .taskContent .taskOne .contenTask p {
        color: white;
        font-weight: bold;
        font-size: 1rem;
    }

    .header main .taskContent .taskOne .contenTask p.coretan {
        color: white;
        font-weight: bold;
        font-size: 1rem;
        text-decoration: line-through;
    }

    .header main .taskContent .taskOne .kategory {
        color: white;
        background-color: skyblue;
        padding: 7px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 0.9rem;
        margin-left: auto;
    }

    .header main .taskContent .taskOne .delete {
        color: white;
        background-color: salmon;
        padding: 7px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 0.9rem;
        margin-left: auto;
    }

    .header main .task form .deleteAll {
        color: white;
        width: 90%;
        background-color: salmon;
        padding: 7px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 2.6rem;
        cursor: pointer;
    }


    .header main .task form .selectStyle {
        color: white;
        width: 95%;
        background-color: skyblue;
        padding: 7px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 3rem;
        cursor: pointer;
    }

    .header .layoutHeader .right button .dropDown {
        display: none;
        background-color: #131229;
        opacity: 0.9;
        color: white;
        list-style: none;
        padding: 12px;
        border-radius: 10px;
        top: 65px;
        right: 10px;
        line-height: 2rem;
        z-index: 10;
    }

    .header .layoutHeader .right button .dropDown.block {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #131229;
        opacity: 0.9;
        color: white;
        list-style: none;
        padding: 12px;
        border-radius: 10px;
        top: 80px;
        right: 10px;
        line-height: 2rem;
        text-align: start;
        z-index: 10;
    }

    .header .layoutHeader .right button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

/* end todo */

/* PROFILE */
.profile .profileHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-primary-);
}

.profile .profileHeader header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.profile .profileHeader header .left h1 {
    color: white;
    font-size: 2rem;
}

.profile .profileHeader header .right button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 4rem;
    border-radius: 12px;
    transition: 0.3s ease;
}

.profile .profileHeader header .right button:hover {
    background: var(--bg-primaryHover);
    transition: 0.3s ease;
}

.profile .contenLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile .contenLayout .DeskripsiProfile {
    color: white;
    line-height: 3rem;
}

.profile .profileHeader .right button .dropDown {
    display: none;
    background-color: #131229;
    opacity: 0.9;
    color: white;
    list-style: none;
    padding: 12px;
    border-radius: 10px;
    top: 65px;
    right: 10px;
    line-height: 2rem;
    z-index: 10;
}

.profile .profileHeader .right button .dropDown.block {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #131229;
    opacity: 0.9;
    color: white;
    list-style: none;
    padding: 12px;
    border-radius: 10px;
    top: 65px;
    right: 10px;
    line-height: 2rem;
    z-index: 10;
}

@media(max-width : 660px) {

    /* PROFILER HEADER */
    .profile {
        overflow: hidden;
    }

    .profile .profileHeader header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        overflow-y: none;
    }

    .profile .profileHeader header .left {
        color: white;
    }

    .profile .profileHeader header .left h1 {
        font-size: 2rem;
    }

    .profile .profileHeader header .right button {
        border: none;
        cursor: pointer;
        padding: 5px;
        width: 3rem;
        background-color: transparent;
        transition: 0.3s ease;
        border-radius: 10px;
    }

    .profile .profileHeader header .right button .more {
        border: none;
        cursor: pointer;
        padding: 5px;
        width: 3rem;
        background-color: transparent;
        transition: 0.3s ease;
        border-radius: 10px;
    }

    /* PROFILE MAIN */
    .profile .profileHeader {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-color: var(--bg-primary-);
    }

    .profile .profileHeader .contenLayout {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .profile .profileHeader .contenLayout .foto_profile {
        width: 12rem;
    }

    .profile .profileHeader .contenLayout .DeskripsiProfile {
        line-height: 2.5rem;
        padding: 12px;
    }

    .profile .profileHeader .contenLayout .DeskripsiProfile h3 {
        color: white;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .profile .profileHeader .contenLayout .DeskripsiProfile h2 {
        color: white;
        font-weight: bold;
        font-size: 1rem;
    }


    .profile .profileHeader .right button .dropDown {
        display: none;
        background-color: #131229;
        opacity: 0.9;
        color: white;
        list-style: none;
        padding: 12px;
        border-radius: 10px;
        top: 65px;
        right: 10px;
        line-height: 2rem;
        z-index: 10;
    }

    .profile .profileHeader .right button .dropDown.block {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #131229;
        opacity: 0.9;
        color: white;
        list-style: none;
        padding: 12px;
        border-radius: 10px;
        top: 40px;
        right: 20px;
        line-height: 2rem;
        text-align: start;
        z-index: 10;
    }
}

/* END PROFILE */